:root {
    --primary-color: #4CAF50;
}
/* 
.nav-bar{
    height: 50vh;
    width: 100%;
   margin-top: 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
nav img{
    height: 300pxpx;
    width: 200px;
    padding-top: 0px;
}
nav ul li {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0;
    height: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color: brown;
    transition: .3s ;
}
button{
    padding: 10px; 
    font-size: 16px; 
    background-color: var(--primary-color); 
    color: white; border: none; border-radius: 5px; cursor: pointer;
} */
/* COVER SLIKA I DUGME */
.hero-image {
   position: relative;
    max-height: 70vh;
    overflow: hidden;
}

/* Style for the image */
img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default spacing */
}

/* Style for the button */
.hero-image-button {
    position: absolute;
    top: 50%; /* Position the button at the vertical center */
    left: 50%; /* Position the button at the horizontal center */
    transform: translate(-50%, -50%); /* Center the button precisely */
    max-width: 300px;
    height: 20%;
    min-height: 50px;
    width: 70vw;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width:400px ;
    height: 100px; */
}

h1{
    text-align: center;
}
.tortije{
    padding: 30px;
}

.dodaci h5 {
   text-align: center;
   margin-bottom:0 ;
  }
.dodaci p {
    margin-top: 0;
    text-align: center;
}
.dodatak {
    white-space: nowrap;;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.navbar{
    box-shadow: 0px 0px 11px 5px #349966;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}
.navbar-brand {
    max-width: 110px;
}
@media (max-width: 768px)
{
    .navbar-brand {
        max-width: 65px;
        width: auto;
        height: 56px;
    }
    .navbar-brand img {
        width: auto;
        height: 100%;
    }
}

.navbar-brand img{
    width: 100%;
}

.meni .card .card-body {
    width: 100%;
}

.meni .card .card-img-top{
    width: 373px;
    max-width: 100%;
}
/* .navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    background: #FFF;
    width: 100%;
}

.navbar .meni ul li {
    display:inline-block;
} */

.navbar .call-to-action a {
    color: #fff;
    background-color: #349966;
}
.navbar .call-to-action .radno-vreme {
    display: block;
}

.navbar .call-to-action {
    text-align: center;
}

.navbar-content-pusher {
    position: unset !important;
}

.meni .accordion-button:focus {
    box-shadow: unset;
}

.meni .accordion-button:not(.collapsed) {
    color: unset;
    background-color: unset;
    box-shadow: unset;
}

.meni .accordion-button::after {
    margin-left: 5px;
    width: 1rem;
    height: 1rem;
    background-size: 1rem;
}

#map-canvas {
    height: 60vh !important;
    /* Other styles you might have... */
  }

footer{
    width: 100%;
    background-color: #349966;
}

.dodaci-grid-container {
    display: grid;
    grid-template-columns: auto auto auto; /* Specifies three columns */
    gap: 10px; /* Space between grid items */
    padding: 10px;
}

.dodaci-grid-item {
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}